<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiappb838c42666d343b29debe9b264b8ef72.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiappb838c42666d343b29debe9b264b8ef72.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiAppb838c42666d343b29debe9b264b8ef72</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>MyMoney.Domain.Application.WebServices</AppServiceName>
    <ResourceGroupName>Default-Web-NorthCentralUS</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiAppb838c42666d343b29debe9b264b8ef72</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyMoneyDb" Order="1" Enabled="False">
          <Destination Path="Data Source=p8gdjk9wkl.database.windows.net;Initial Catalog=MyMoneyDb;Persist Security Info=True;User ID=andrepires@p8gdjk9wkl;Password=andre123!@#pires" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\mssqllocaldb;Initial Catalog=MyMoneyDb;Integrated Security=True;Pooling=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyMoneyDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=(localdb)\mssqllocaldb;Database=MyMoneyDb;Integrated Security=True;Pooling=false" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyMoneyDb-Web.config Connection String">
      <ParameterValue>Data Source=p8gdjk9wkl.database.windows.net;Initial Catalog=MyMoneyDb;Persist Security Info=True;User ID=andrepires@p8gdjk9wkl;Password=andre123!@#pires</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>